.header {
    min-height: 470px;
    background-size: 1920px 470px;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 25px;
}

.header-boosted {
    background-image: url(../img/Boosted_rev/revenue_graph.svg);
}

.header-seo {
    background-image: url(../img/seo/radar.svg);
}

.header-engagement {
    background-image: url(../img/engagement/masthead.svg);
}

.heder-logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-logo-img {
    width: 30px;
    height: 30px;
    margin-right: 11px;

    img {
        width: 100%;
        height: auto;
    }
}

.header-logo-text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}

.header-title {
    margin-top: 72px;
    color: #fff;

    .header-title-main {
        font-size: 38px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    .header-sub-title {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.header-buttons {
    margin-top: 40px;
}

@media (min-width: 320px) and (max-width: 991px) {
    .header {
        background-size: cover;
    }
}
