.picture-left {
    padding-top: 170px;
    padding-bottom: 140px;

    .section-icon-left {
        width: 258px;
        height: 252px;
        margin-left: 9px;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.section-text-right {
    padding-left: 25px;

    .section-text-title {
        color: #36383a;
        font-size: 22px;
        font-weight: 600;
        margin-top: 4px;
        margin-bottom: 35px;
    }

    .section-text-content {
        color: #36383a;
        font-size: 17px;
        line-height: 1.3;

        p {
            margin-bottom: 27px;
        }

        .remark {
            display: block;
            font-size: 14px;
            margin-top: 18px;

            a {
                color: #36383a;
            }
        }
    }
}

.seo_page .picture-left {
    padding-top: 145px;
    padding-bottom: 150px;

    .section-icon-left {
        width: 224px;
        height: 224px;
        margin-left: 39px;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.seo_page .section-text-right {
    padding-left: 25px;

    .section-text-title {
        color: #36383a;
        font-size: 30px;
        font-weight: 600;
        margin-top: 4px;
        margin-bottom: 35px;
    }

    .section-text-content {
        color: #36383a;
        font-size: 17px;
        line-height: 1.3;

        p {
            margin-bottom: 27px;
        }

        .remark {
            display: block;
            font-size: 14px;
            margin-top: 18px;

            a {
                color: #36383a;
            }
        }
    }
}

.engagement-page .picture-left {
    padding-top: 119px;
    padding-bottom: 145px;

    .picture-left-section-title {
        margin-bottom: 57px;
    }

    .section-icon-left {
        width: 128px;
        height: 128px;
        margin-left: 85px;
        margin-top: 40px;
    }
}

.engagement-page .section-text-right {
    padding-left: 0;


    .section-text-content {
        color: #36383a;
        font-size: 17px;
        line-height: 1.3;
        transform: translateX(-55px);
    }
}

@media (min-width: 320px) and (max-width: 991px) {
    .seo_page .picture-left {
        .section-icon-left {
            margin: 0 auto 20px;
        }
    }

    .section-text-right {
        text-align: center;
    }

    .seo_page .picture-left {
        .section-icon-left {
            margin: 0 auto 20px;
        }
    }

    .seo_page .section-text-right {
        text-align: center;
        padding-left: 0;

    }

    .engagement-page .picture-left {
        .section-icon-left {
            margin: 0 auto 20px;
        }
    }

    .engagement-page .section-text-right {
        padding-left: 0;


        .section-text-content {
            transform: translateX(0);
        }
    }
}
