.three_icons {
    padding: 220px 0 160px;

    .section-title {
        margin-bottom: 23px;

        &::before {
            content: '';
            display: block;
            width: 60px;
            height: 2px;
            background-color: #1ab394;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -30px;
        }
    }

    .three-icons-item {
        width: 100%;
        max-width: 256px;
        margin: 0 auto;
        margin-bottom: 20px;

        .item-icon {
            width: 48px;
            height: 48px;
            margin: 0 auto;
            margin-bottom: 20px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .item-text {
            color: #36383a;
            font-size: 14px;
            font-weight: 600;
            line-height: 19px;
            text-align: center;
        }

    }
}
