<section class="download bg-blue-green">
        <div class="container main-container">
            <div class="row">
                <div class="col-12">
                    <h3 class="section-sub-title">{{page.download_title}}</h3>
                    <div class="section-sub-title-details"> {{page.download_details}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="button-row">
                        <a href="#" class="btn btn-light-green">
                            {{page.download_button}}
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>