<footer class="contact-us">
        <div class="container main-container">
            <div class="row">
                <div class="col-12">
                    <h2 class="section-title">Contact Us</h2>

                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <div class="section-title-details"> We’d love to hear from you. Let us know what you think about Customer Reviews plugin or any other feedback or inquiry.</div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-6 col-sm-12">
                    <div class="adress-container">
                        <div class="address-title">Customer Reviews</div>
                        <div class="adress-main">
                            71–75 Shelton Street <br> London <br> WC2H 9JQ <br> United Kingdom
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="product-description">
                        Customer Reviews is a free plugin for WooCommerce. You can download it from WordPress.org and buy a license for the premium version on this website.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="button-row">
                    <a href="#" class="btn btn-dark">Send Us Mail</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="fooer-credits">
                        Customer Reviews Ltd © 2017-2018 / <a href="#">Terms and Conditions </a>/ <a href="#">Privacy Policy </a>/<a href="#"> Data Protection</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>