<header class="header {{page.header_class}}">
        <div class="container header-container">
            <div class="row justify-content-between">
                <div class="col-lg-3 col-sm-11">
                    <div class="heder-logo-container">
                        <div class="header-logo-img"> <img src="assets/img/logo.svg" alt="logo"> </div>
                        <div class="header-logo-text">Customer Reviews</div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-1">
                    {%include navigation.html%}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="header-title">
                        <h1 class="header-title-main">
                            {{page.header_title}}
                        </h1>
                        <div class="header-sub-title"> {{page.header_sub_title}}  </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="header-buttons"> <a href="#" class="btn btn-dark">Free Download</a> <a href="#" class="btn btn-light">Buy Premium</a> </div>
                </div>
            </div>
        </div>
    </header>