<section class="icons-schema">
    <div class="container main-container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">{{page.icons_schema_title}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="section-title-details"> {{page.icons_schema_details}} </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <div class="schema-side-block">
                    <div class="schema-side-block-item">
                        <div class="side-block-item-icon"> <img src="{{page.icons_schema_icon1}}" alt="icon"> </div>
                        <div class="side-block-item-text">{{page.icons_schema_icon_text1}}</div>
                    </div>
                    <div class="schema-side-block-item">
                        <div class="side-block-item-icon"> <img src="{{page.icons_schema_icon2}}" alt="icon"> </div>
                        <div class="side-block-item-text"> {{page.icons_schema_icon_text2}} </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="schema-center-block">
                    <div class="schema-center-block-icon"> <img src="{{page.icons_schema_icon3}}" alt="icon"></div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="schema-side-block">
                    <div class="schema-side-block-item">
                        <div class="side-block-item-icon"> <img src="{{page.icons_schema_icon4}}" alt="icon"> </div>
                        <div class="side-block-item-text">
                            {{page.icons_schema_icon_text4}}
                        </div>
                    </div>
                    <div class="schema-side-block-item">
                        <div class="side-block-item-icon"> <img src="{{page.icons_schema_icon5}}" alt="icon"> </div>
                        <div class="side-block-item-text">
                            {{page.icons_schema_icon_text5}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row schema-row">
            <div class="col-12">
                <div class="icons-schema-afterwards">
                    {{page.icons_schema_afterwards}}
                </div>
            </div>
        </div>

    </div>
</section>