<section class="icon-text-center bg-dark-green">
    <div class="container main-container">
        <div class="row">
            <div class="col-12">
                <div class="center-icon">
                    <img src="{{page.icon-text-center-icon_url}}" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="center-text-italic">
                   {{page.icon-text-center-italic}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="center-text">
                    {{page.icon-text-center-text}}
                </div>
            </div>
        </div>
    </div>
</section>