<nav class="main-nav">
    <ul class="main-nav-list">
        <li class="nav-item active">
            <a href="#" class="nav-item-link ">Home</a>
        </li> 
        <li class="nav-item sub">
            <a href="#" class="nav-item-link">Features</a>
            <ul class="sub-menu">
                <li class="sub-menu-item">
                    <a href="boosted.html" class="sub-menu-item-link">Boost sales</a>
                </li>
                <li class="sub-menu-item">
                    <a href="seo.html" class="sub-menu-item-link">SEO</a>
                </li>
                <li class="sub-menu-item">
                    <a href="index.html" class="sub-menu-item-link">Engagement</a>
                </li>
                <li class="sub-menu-item">
                    <a href="" class="sub-menu-item-link">
                        Loyalty
                    </a>
                </li>
            </ul>
        </li> 
        <li class="nav-item ">
            <a href="#" class="nav-item-link">Testimonials</a>
        </li> 
        <li class="nav-item">
            <a href="#" class="nav-item-link">Pricing</a>
        </li> 
        <li class="nav-item">
            <a href="#" class="nav-item-link">Contact</a>
        </li> 
        <li class="nav-item">
            <a href="#" class="nav-item-link">Login</a>
        </li>
    </ul>
</nav>
