<section class="picture-left {{page.picture_left_class}}">
    <div class="container main-container">
       <div class="row">
           <div class="col-12">
               <div class="picture-left-section-title">
                   <div class="section-title">
                       {{page.picture-left-section-title}}
                   </div>
               </div>
           </div>
       </div>
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="section-icon-left"> <img src="{{page.picture_left_icon_url}}" alt=""> </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="section-text-right">
                    <h3 class="section-text-title">
                        {{page.picture_left_title}}
                    </h3>
                    <div class="section-text-content">
                     <p>{{page.picture_left_text1}}</p>
                     <p>{{page.picture_left_text2}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>