<section class="story_section bg-lite-blue">
    <div class="container main-container">
        <div class="row">
            <div class="col-12">
                <div class="story-section-block">
                    <div class="story-section-icon">
                        <img src="{{page.story-section-iconUrl}}" alt="icon">
                    </div>
                    <div class="story_section_text">
                        <h3 class="story_section_title">
                            {{page.story_section_title}}
                        </h3>
                        <p> {{page.story_section_text1}}
                        </p>
                        <p>{{page.story_section_text2}}</p>
                        <p>{{page.story_section_text3}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
