<section class="two-columns">
    <div class="container main-container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Social proof is a vital aspect of any online store</h2>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-lg-6 col-sm-12">
                <div class="text-column-container">
                    <div class="text-column-icon"> <img src="assets/img/Boosted_rev/icon_recommendation.svg" alt="icon"> </div>
                    <div class="text-column-content"> Humans are driven to do what others are doing. Our hunter-gatherer ancestors survived using social proof. Seeing members of your tribe drink from a watering hole meant it was safe. </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="text-column-container">
                    <div class="text-column-icon"> <img src="assets/img/Boosted_rev/icon_online_reviews.svg" alt="icon"> </div>
                    <div class="text-column-content"> Though less deadly, online shopping follows the same rules. Customers need to know your product images and descriptions can be trusted. They need to know their bank account is safe. </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="section-conclusion">
                    <div class="section-conclusion-text"> By using verified reviews, you show that others have used your store and it was safe. </div>
                </div>
            </div>
        </div>
    </div>
</section>