.elementor-1640 .elementor-element.elementor-element-c30747e > .elementor-container {
    min-height: 600px;
}

.elementor-1640 .elementor-element.elementor-element-c30747e > .elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-1640 .elementor-element.elementor-element-c30747e {
    background-image: url("../images/bg1.jpeg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-1640 .elementor-element.elementor-element-c30747e > .elementor-background-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1640 .elementor-element.elementor-element-e09b184.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-1640 .elementor-element.elementor-element-e09b184 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    padding: 72px 15px 0px 15px;
}

.elementor-1640 .elementor-element.elementor-element-e09b184 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1640 .elementor-element.elementor-element-e7227c9.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-1640 .elementor-element.elementor-element-e7227c9 > .elementor-element-populated {
    padding: 50px 15px 0px 15px;
}

.elementor-1640 .elementor-element.elementor-element-470af27.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}

.elementor-1640 .elementor-element.elementor-element-470af27 .elementor-heading-title {
    font-size: 64px;
    line-height: 64px;
    text-shadow: 5px 4px 10px rgba(0, 0, 0, 0.3);
}

.elementor-1640 .elementor-element.elementor-element-470af27 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1640 .elementor-element.elementor-element-c48c7bf.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}

.elementor-1640 .elementor-element.elementor-element-c48c7bf .elementor-heading-title {
    font-size: 64px;
    line-height: 1em;
    text-shadow: 5px 4px 10px rgba(0, 0, 0, 0.3);
}

.elementor-1640 .elementor-element.elementor-element-48fe66e.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}

.elementor-1640 .elementor-element.elementor-element-48fe66e .elementor-heading-title {
    font-size: 64px;
    line-height: 1em;
    text-shadow: 5px 4px 10px rgba(0, 0, 0, 0.3);
    mix-blend-mode: luminosity;
}

.elementor-1640 .elementor-element.elementor-element-df4cb02.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}

.elementor-1640 .elementor-element.elementor-element-df4cb02 .elementor-heading-title {
    font-size: 64px;
    line-height: 1em;
    text-shadow: 5px 4px 10px rgba(0, 0, 0, 0.3);
}

.elementor-1640 .elementor-element.elementor-element-1f31418 a.elementor-button,
.elementor-1640 .elementor-element.elementor-element-1f31418 .elementor-button {
    background-color: #ed580e;
}

.elementor-1640 .elementor-element.elementor-element-4aafb23 > .elementor-container {
    max-width: 700px;
}

.elementor-1640 .elementor-element.elementor-element-4aafb23 {
    background-image: url("../images/speaker_bg.png");
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1640 .elementor-element.elementor-element-4aafb23 > .elementor-background-overlay {
    background-image: url("../images/home_speaker_memphis2.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1640 .elementor-element.elementor-element-0bf64dd.elementor-column .elementor-column-wrap {
    align-items: flex-start;
}

.elementor-1640 .elementor-element.elementor-element-a5b827a .elementor-wrapper {
    filter: brightness( 100%) contrast( 101%) saturate( 98%) blur( 0px) hue-rotate( 0deg);
}

.elementor-1640 .elementor-element.elementor-element-a5b827a .elementor-custom-embed-play i {
    font-size: 150px;
    text-shadow: 6px 6px 5px #000000;
}

.elementor-1640 .elementor-element.elementor-element-a5b827a > .elementor-widget-container {
    margin: -35px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1640 .elementor-element.elementor-element-a5b827a {
    z-index: 5;
}

.elementor-1640 .elementor-element.elementor-element-7bfd03e {
    background-image: url("../images/speaker_bg.png");
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1640 .elementor-element.elementor-element-7bfd03e > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1640 .elementor-element.elementor-element-0ef47b9.elementor-widget-heading .elementor-heading-title {
    color: #000000;
}

.elementor-1640 .elementor-element.elementor-element-0ef47b9 .elementor-heading-title {
    font-family: "Montserrat", Montserrat;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.elementor-1640 .elementor-element.elementor-element-237950c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(35px/2);
}

.elementor-1640 .elementor-element.elementor-element-237950c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(35px/2);
}

.elementor-1640 .elementor-element.elementor-element-237950c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(35px/2);
    margin-left: calc(35px/2);
}

.elementor-1640 .elementor-element.elementor-element-237950c .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-35px/2);
    margin-left: calc(-35px/2);
}

body.rtl .elementor-1640 .elementor-element.elementor-element-237950c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-35px/2);
}

body:not(.rtl) .elementor-1640 .elementor-element.elementor-element-237950c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-35px/2);
}

.elementor-1640 .elementor-element.elementor-element-237950c .elementor-icon-list-icon i {
    color: #ed580e;
    font-size: 60px;
}

.elementor-1640 .elementor-element.elementor-element-237950c .elementor-icon-list-icon {
    width: 60px;
}

.elementor-1640 .elementor-element.elementor-element-237950c .elementor-icon-list-text {
    padding-left: 30px;
}

.elementor-1640 .elementor-element.elementor-element-237950c .elementor-icon-list-item {
    font-family: "Montserrat", Montserrat;
    font-size: 23px;
}

.elementor-1640 .elementor-element.elementor-element-237950c > .elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-1640 .elementor-element.elementor-element-622e642 {
    background-image: url("../images/speaker_bg.png");
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 0px 0px;
}

.elementor-1640 .elementor-element.elementor-element-622e642 > .elementor-background-overlay {
    background-image: url("../images/socialmedia03.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.08;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1640 .elementor-element.elementor-element-d80846c .title-section-area {
    text-align: center;
}

.elementor-1640 .elementor-element.elementor-element-d80846c .section-title span {
    font-weight: 700;
}

.elementor-1640 .elementor-element.elementor-element-d80846c .section-title {
    color: #ed580e;
    font-family: "Montserrat", Montserrat;
    font-size: 50px;
}

.elementor-1640 .elementor-element.elementor-element-d80846c .title-section-area .title-shape svg {
    fill: #ed580e;
}

.elementor-1640 .elementor-element.elementor-element-e6a0a04 .section-title {
    text-align: left;
}

.elementor-1640 .elementor-element.elementor-element-b8b7e93 {
    background-image: url("../images/speaker_bg.png");
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1640 .elementor-element.elementor-element-b8b7e93 > .elementor-background-overlay {
    background-image: url("../images/home_speaker_memphis1.png");
    background-position: center left;
    background-repeat: no-repeat;
    opacity: 0.7;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1640 .elementor-element.elementor-element-74cd591 .title-section-area {
    text-align: center;
}

.elementor-1640 .elementor-element.elementor-element-74cd591 .section-title span {
    color: #ed580e;
    font-size: 40px;
    font-weight: 700;
}

.elementor-1640 .elementor-element.elementor-element-74cd591 .section-title {
    color: #ed580e;
}

.elementor-1640 .elementor-element.elementor-element-74cd591 .title-section-area .title-shape svg {
    fill: #ed580e;
}

.elementor-1640 .elementor-element.elementor-element-4130363.elementor-view-stacked .elementor-icon {
    background-color: #ed580e;
}

.elementor-1640 .elementor-element.elementor-element-4130363.elementor-view-framed .elementor-icon,
.elementor-1640 .elementor-element.elementor-element-4130363.elementor-view-default .elementor-icon {
    color: #ed580e;
    border-color: #ed580e;
}

.elementor-1640 .elementor-element.elementor-element-4130363.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-1640 .elementor-element.elementor-element-4130363.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-1640 .elementor-element.elementor-element-4130363.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-1640 .elementor-element.elementor-element-4130363 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-1640 .elementor-element.elementor-element-36c7c01.elementor-view-stacked .elementor-icon {
    background-color: #ed580e;
}

.elementor-1640 .elementor-element.elementor-element-36c7c01.elementor-view-framed .elementor-icon,
.elementor-1640 .elementor-element.elementor-element-36c7c01.elementor-view-default .elementor-icon {
    color: #ed580e;
    border-color: #ed580e;
}

.elementor-1640 .elementor-element.elementor-element-36c7c01.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-1640 .elementor-element.elementor-element-36c7c01.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-1640 .elementor-element.elementor-element-36c7c01.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-1640 .elementor-element.elementor-element-36c7c01 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-1640 .elementor-element.elementor-element-a29afdc.elementor-view-stacked .elementor-icon {
    background-color: #ed580e;
}

.elementor-1640 .elementor-element.elementor-element-a29afdc.elementor-view-framed .elementor-icon,
.elementor-1640 .elementor-element.elementor-element-a29afdc.elementor-view-default .elementor-icon {
    color: #ed580e;
    border-color: #ed580e;
}

.elementor-1640 .elementor-element.elementor-element-a29afdc.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-1640 .elementor-element.elementor-element-a29afdc.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-1640 .elementor-element.elementor-element-a29afdc.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-1640 .elementor-element.elementor-element-a29afdc .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-1640 .elementor-element.elementor-element-4f491d2.elementor-view-stacked .elementor-icon {
    background-color: #ed580e;
}

.elementor-1640 .elementor-element.elementor-element-4f491d2.elementor-view-framed .elementor-icon,
.elementor-1640 .elementor-element.elementor-element-4f491d2.elementor-view-default .elementor-icon {
    color: #ed580e;
    border-color: #ed580e;
}

.elementor-1640 .elementor-element.elementor-element-4f491d2.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-1640 .elementor-element.elementor-element-4f491d2.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-1640 .elementor-element.elementor-element-4f491d2.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-1640 .elementor-element.elementor-element-4f491d2 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-1640 .elementor-element.elementor-element-8240d52 {
    background-image: url("../images/speaker_bg.png");
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1640 .elementor-element.elementor-element-8240d52 > .elementor-background-overlay {
    background-image: url("../images/home_schedule_memphis1.png");
    background-position: top right;
    background-repeat: no-repeat;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1640 .elementor-element.elementor-element-7aceabd .title-section-area {
    text-align: center;
}

.elementor-1640 .elementor-element.elementor-element-7aceabd .section-title span {
    color: #ed580e;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.6em;
}

.elementor-1640 .elementor-element.elementor-element-7aceabd .section-title {
    color: #ed580e;
    font-size: 40px;
    font-weight: 600;
}

.elementor-1640 .elementor-element.elementor-element-7aceabd .title-section-area .title-shape svg {
    fill: #ed580e;
}

.elementor-1640 .elementor-element.elementor-element-46aad3a {
    background-image: url("../images/speaker_bg.png");
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1640 .elementor-element.elementor-element-46aad3a > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1640 .elementor-element.elementor-element-dc6575e .title-section-area {
    text-align: center;
}

.elementor-1640 .elementor-element.elementor-element-dc6575e .section-title span {
    color: #ed580e;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.elementor-1640 .elementor-element.elementor-element-dc6575e .section-title {
    color: #ed580e;
    font-weight: 500;
}

.elementor-1640 .elementor-element.elementor-element-dc6575e .title-section-area .title-shape svg {
    fill: #ed580e;
}

.elementor-1640 .elementor-element.elementor-element-7899250 .elementor-text-editor {
    text-align: center;
}

.elementor-1640 .elementor-element.elementor-element-7899250 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.5em;
}

.elementor-1640 .elementor-element.elementor-element-977362b .elementor-text-editor {
    text-align: center;
}

.elementor-1640 .elementor-element.elementor-element-977362b {
    font-size: 40px;
    font-weight: 700;
    line-height: 2.5em;
}

.elementor-1640 .elementor-element.elementor-element-088a42b > .elementor-container {
    max-width: 500px;
}

.elementor-1640 .elementor-element.elementor-element-088a42b {
    background-image: url("../images/speaker_bg.png");
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1640 .elementor-element.elementor-element-088a42b > .elementor-background-overlay {
    background-image: url("../images/sq_bg_1x.png");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.47;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

@media(min-width:1025px) {
    .elementor-1640 .elementor-element.elementor-element-c30747e {
        background-attachment: fixed;
    }
    #elementor-lightbox-a5b827a .elementor-video-container {
        width: 70%;
    }
}

@media(max-width:1024px) {
    .elementor-1640 .elementor-element.elementor-element-c30747e {
        background-position: -167px 0px;
    }
    .elementor-1640 .elementor-element.elementor-element-e09b184 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 30px 100px 30px;
    }
    .elementor-1640 .elementor-element.elementor-element-e7227c9 > .elementor-element-populated {
        padding: 222px 0px 100px 30px;
    }
    .elementor-1640 .elementor-element.elementor-element-470af27 {
        text-align: right;
    }
    .elementor-1640 .elementor-element.elementor-element-470af27 .elementor-heading-title {
        font-size: 60px;
        line-height: 49px;
    }
    .elementor-1640 .elementor-element.elementor-element-470af27 > .elementor-widget-container {
        padding: 0px 30px 0px 0px;
    }
    .elementor-1640 .elementor-element.elementor-element-c48c7bf {
        text-align: right;
    }
    .elementor-1640 .elementor-element.elementor-element-c48c7bf .elementor-heading-title {
        font-size: 60px;
    }
    .elementor-1640 .elementor-element.elementor-element-c48c7bf > .elementor-widget-container {
        padding: 0px 30px 0px 0px;
    }
    .elementor-1640 .elementor-element.elementor-element-48fe66e {
        text-align: right;
    }
    .elementor-1640 .elementor-element.elementor-element-48fe66e > .elementor-widget-container {
        padding: 0px 30px 0px 0px;
    }
    .elementor-1640 .elementor-element.elementor-element-df4cb02 {
        text-align: right;
    }
    .elementor-1640 .elementor-element.elementor-element-df4cb02 > .elementor-widget-container {
        padding: 0px 030px 0px 0px;
    }
    .elementor-1640 .elementor-element.elementor-element-1f31418 > .elementor-widget-container {
        padding: 0px 30px 0px 0px;
    }
    .elementor-1640 .elementor-element.elementor-element-a5b827a > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-1640 .elementor-element.elementor-element-c30747e > .elementor-container {
        min-height: 640px;
    }
    .elementor-1640 .elementor-element.elementor-element-c30747e > .elementor-container:after {
        content: "";
        min-height: inherit;
    }
    .elementor-1640 .elementor-element.elementor-element-c30747e {
        background-position: -170px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-1640 .elementor-element.elementor-element-e09b184 > .elementor-element-populated {
        padding: 50px 20px 50px 20px;
    }
    .elementor-1640 .elementor-element.elementor-element-e7227c9 > .elementor-element-populated {
        padding: 149px 20px 0px 20px;
    }
    .elementor-1640 .elementor-element.elementor-element-470af27 {
        text-align: right;
    }
    .elementor-1640 .elementor-element.elementor-element-470af27 .elementor-heading-title {
        font-size: 40px;
        line-height: 40px;
    }
    .elementor-1640 .elementor-element.elementor-element-470af27 > .elementor-widget-container {
        margin: 0px 0px 30px 0px;
    }
    .elementor-1640 .elementor-element.elementor-element-c48c7bf {
        text-align: right;
    }
    .elementor-1640 .elementor-element.elementor-element-c48c7bf .elementor-heading-title {
        font-size: 40px;
        line-height: 40px;
    }
    .elementor-1640 .elementor-element.elementor-element-48fe66e {
        text-align: right;
    }
    .elementor-1640 .elementor-element.elementor-element-48fe66e .elementor-heading-title {
        font-size: 40px;
        line-height: 40px;
    }
    .elementor-1640 .elementor-element.elementor-element-df4cb02 {
        text-align: right;
    }
    .elementor-1640 .elementor-element.elementor-element-df4cb02 .elementor-heading-title {
        font-size: 40px;
        line-height: 40px;
    }
    .elementor-1640 .elementor-element.elementor-element-a5b827a .elementor-custom-embed-play i {
        font-size: 95px;
    }
    .elementor-1640 .elementor-element.elementor-element-a5b827a > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-1640 .elementor-element.elementor-element-b0da199 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-1640 .elementor-element.elementor-element-237950c > .elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }
    .elementor-1640 .elementor-element.elementor-element-4130363 .elementor-icon-box-icon {
        margin-bottom: 15px;
    }
    .elementor-1640 .elementor-element.elementor-element-36c7c01 .elementor-icon-box-icon {
        margin-bottom: 15px;
    }
    .elementor-1640 .elementor-element.elementor-element-a29afdc .elementor-icon-box-icon {
        margin-bottom: 15px;
    }
    .elementor-1640 .elementor-element.elementor-element-4f491d2 .elementor-icon-box-icon {
        margin-bottom: 15px;
    }
}

@media(min-width:768px) {
    .elementor-1640 .elementor-element.elementor-element-e09b184 {
        width: 50.047%;
    }
    .elementor-1640 .elementor-element.elementor-element-e7227c9 {
        width: 49.953%;
    }
    .elementor-1640 .elementor-element.elementor-element-8904278 {
        width: 40%;
    }
    .elementor-1640 .elementor-element.elementor-element-011984e {
        width: 60%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1640 .elementor-element.elementor-element-e09b184 {
        width: 100%;
    }
    .elementor-1640 .elementor-element.elementor-element-e7227c9 {
        width: 100%;
    }
}
