body {
    font-family: 'OpenSans';
    box-sizing: border-box;
}

.header-container {
    max-width: 1200px;
}

.main-container {
    max-width: 1130px;
}

.section-title {
    color: #36383a;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    position: relative;
}

.btn {
    display: inline-block;
    padding: 13px 22px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 2px;
    text-decoration: none;
    margin-bottom: 5px;
}

.btn:hover {
    text-decoration: none;
}

.btn-dark {
    background-color: #1ab394;
    color: #fff;
}

.btn-light {
    background-color: #ffffff;
    color: #163942;
}

.btn-light-green {
    background-color: #ffffff;
    color: #1ab394;
}

.bg-dark-green {
    background-color: #2c5e66;
}

.bg-aqua {
    background-color: #e6f5f5;
}
.bg-blue-green {
    background-color: #1ab394;
}

.bg-lite-blue {
    background-color: #e6f5f5;
}


@media (min-width: 576px) {
    .header-container, 
    .main-container{
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .header-container, 
    .main-container{
        max-width: 720px;
    }

}

@media (min-width: 992px) {
    .header-container, 
    .main-container{
        max-width: 960px;
    }

}

@media (min-width: 1200px) {
     
    .main-container{
        max-width: 1130px;
    }
    
    .header-container {
        max-width: 1200px;
    }

}
