---

layout: default
title: Boosted Sales

header_class: header-boosted
header_title: Boosted Revenue&#58; Automated
header_sub_title: Increase Your Sales with Customer Reviews

picture_left_class: bg-aqua
picture_left_icon_url: assets/img/Boosted_rev/star_icon.svg
picture_left_title: Displaying reviews can increase conversion by 270%*
picture_left_text1: New visitors can see the store is trustworthy, safe, and the goods are quality. So far more visitors will become customers. Your conversion rates will increase, and so will your revenue and profit.
picture_left_text2: With CusRev, this is entirely automatic. You can easily set it to send out review collection emails, days or weeks after purchase. The review form makes it as simple as possible for the customer to leave a review. <span class="remark">* A 2017 <a href="#">study</a> by the Spiegel Research Center</span> 

icons_schema_title: Chasing reviews is no longer a part of your “to do” list
icons_schema_details: Without any effort, your site is filled with reviews for all your products. These reviews, verified as legitimate by a third party (that’s us), will help boost your revenue and profits.

icons_schema_icon1: assets/img/Boosted_rev/icon_reminder.svg
icons_schema_icon2: assets/img/Boosted_rev/icon_multi-products.svg
icons_schema_icon3: assets/img/Boosted_rev/icon_automatic.svg
icons_schema_icon4: assets/img/Boosted_rev/icon_photo-video.svg
icons_schema_icon5: assets/img/Boosted_rev/icon_trust.svg

icons_schema_icon_text1: Send automatic review reminders
icons_schema_icon_text2: Customers can review multiple products in one form
icons_schema_icon_text4: Accept photo and video reviews
icons_schema_icon_text5: Add a “trust badge” displaying a summary of your reviews


testimonals_text: “This plugin is great, I’m getting reviews, and also repeat customers.”
testimonals_author: – Aleksicbre2017, one of our many happy CusRev users.

download_title: Start collecting verified, revenue-boosting customer reviews today
download_details: It’s free, and takes less than 5 minutes to set up
download_button: Free Download
---

{%include two_columns.html%}

{%include picture_left.html%}

{%include icon_schema.html%}

{%include testimonals.html%}
