---

layout: default
title: Engagement

header_class: header-engagement
header_title: Better Feedback, Happier Customers
header_sub_title: Improve Your Store With Automated Customer Feedback


picture_left_icon_url: assets/img/engagement/disconnect.svg
picture-left-section-title: Feedback is a critical part of any business, especially eCommerce
picture_left_text1: 80% of companies believe they deliver a superior customer experience. Customers tell a different story. In a study by Bain &amp; Company, customers believe only 8% of companies deliver a great experience.
picture_left_text2: There’s a disconnect happening somewhere. Businesses believe everything is fine, but customers aren’t delighted. So how do we bridge this gap?



picture_right_class: bg-aqua
picture_right_icon_url: assets/img/engagement/split.svg

picture_right_text1: You can run surveys or speak to customers yourself, but usually, customers don’t want to hurt your feelings. They’ll tell you everything is okay.

picture_right_text2: This is where automated reviews gathered by a third party fits in. You’ll be getting legitimate, valuable feedback. Though scary, good or bad feedback is essential to improving your business.



icon-text-center-icon_url: assets/img/engagement/leave.svg
icon-text-center-italic: “Only 4% of dissatisfied customers will complain. 91% will simply never return to your store.”

icon-text-center-text: And when that happens, you won’t know anything about it. All you’ll know is; sales are down, and customers aren’t returning.


three_icons_title: Monitor your feedback to make improvements
three_icons_title_details: You could respond to customer reviews to fix any issues, and turn unhappy customers into delighted customers.

three_icons_iconUrl1: assets/img/engagement/aggregated_reviews.svg
three_icons_iconUrl2: assets/img/engagement/personalized_emails.svg
three_icons_iconUrl3: assets/img/engagement/vote.svg

three_icons_icon_text1: Get feedback for multiple products at once with aggregated review forms
three_icons_icon_text2: Personalize emails for each customer or product type
three_icons_icon_text3: Enable customers to vote on past reviews

story-section-iconUrl: assets/img/engagement/customers_pov.svg
story_section_title: Your business from customer’s point of view
story_section_text1: With automated review gathering, you get a constant view of your business from the other side; the customers’ side. You can make business decisions based on the feedback you receive.
story_section_text2: Perhaps you’ll decide not to restock a certain product. Or perhaps you need to work on faster shipping for oversized items.
story_section_text3: The plugin is designed to automatically gather as many reviews as possible, without annoying your customers.

testimonals_class: bg-lite-blue
testimonals_text: “Great tool for building feedback which is an essential part of e-commerce success.”

testimonals_author: – Catholicwoodworker, another satisfied CusRev customer.

download_title: CusRev is free, quick, and automatic

download_details: Start gathering valuable, honest feedback from your customers

download_button: Get started
---

<div class="engagement-page">

{%include picture_left.html%}

{%include picture_right.html%}

{%include icon-text-center.html%}

{%include three_icons.html%}

{%include story_section.html%}

{%include testimonals.html%}
</div>