---

layout: default
title: SEO

header_class: header-seo
header_title: Improve your SEO with Customer Reviews
header_sub_title: The Automated Way to Rank Higher on Google


picture_left_icon_url: assets/img/seo/icon_rank_higher.svg
picture_left_title: Rank higher with schema markup
picture_left_text1: SEO continues to get more competitive as the years roll by. Following ‘best practice’ methods no longer means you’re guaranteed a decent spot on Google. Now, every business needs to go the extra mile to be seen and heard.
picture_left_text2: Most products listed in the Google search results now have their review rating and yellow stars next to them, along with the price and other info. This is called “Schema markup” or rich snippets.


picture_right_class: bg-aqua
picture_right_icon_url: assets/img/seo/icon_click.svg
picture_right_title: Schema markup can increase CTR by up to 30% *
picture_right_text1: CTR (Click Through Rate) is incredibly important. As an example, let’s say you sell metal water bottles. Each time someone searches “metal water bottles”, and then clicks on your link, the Google algorithm thinks&#58; “that website must be relevant for metal water bottles.” So the next time someone searches that term, you’ll show higher in the search results.
picture_right_text2: So showing rich snippets not only helps to get 30% more people to your store, but it also helps you rank higher in the long term.<span class="remark">* As  <a href="#">many</a> case studies have shown</span> 



icon-text-center-icon_url: assets/img/seo/icon_G_spider.svg
icon-text-center-text: Google also loves new and relevant content. As your users review your products, it gives the Google spiders something new to pick up. They do this every time they crawl your site – and there’s no extra effort on your part.


icons_schema_title: Collecting reviews can be frustrating and time-consuming, or it can be easy and painless with CusRev
icons_schema_details: You can allow it to automatically collect reviews from customers, just set it and forget it.

icons_schema_icon1: assets/img/seo/icon_new_content.svg
icons_schema_icon2: assets/img/seo/icon_keyword.svg
icons_schema_icon3: assets/img/seo/icon_collecting_reviews.svg
icons_schema_icon4: assets/img/seo/icon_google_reviews.svg
icons_schema_icon5: assets/img/seo/icon_shopping.svg

icons_schema_icon_text1: Receive constant new content for your website
icons_schema_icon_text2: Customer reviews often contain long tail keywords – great for SEO
icons_schema_icon_text4: Rich snippets (Schema) markup shows review stars and other info on Google
icons_schema_icon_text5: Integrates with Google Shopping – show review stars on your products

icons_schema_afterwards: The reviews are automatically collected and formatted to show up on the search results next to the product. So you’ll get a greater click-through rate, higher search engine rankings, and more customers visiting your website.


testimonals_text: “Upon installing, my number of reviews increased within few hours! Simple, <br> free and just awesome.”
testimonals_author: – Furiog, one of the thousands of happy CusRev customers.

download_title: It’s simple to start improving your store’s search rankings
download_details: Install the plugin, tick a few boxes, and you’re away. Start today

download_button: Free Download
---

<div class="seo_page">

{%include picture_left.html%}

{%include picture_right.html%}

{%include icon-text-center.html%}

{%include icon_schema.html%}

{%include testimonals.html%}


</div>